/* custom list icon */
.custom-list-icon {
  background-image: url(/public/assets/TickIcon.svg);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  padding-left: 2rem;
}

.jb-img{
  background-image: url(/public/assets/Jobsearch.png);
  background-size: cover;
  background-position: center;
}

.blogimg{
  background-image: url(/public/assets/blog-image.png);
  background-size: cover;
  background-position: center;
}